<p-toast position="top-center"></p-toast>
<div class="flex flex-row justify-content-between flex-wrap bg-secondary">
    <div class="flex align-items-center justify-content-center w-4rem h-2rem m-2 md:w-8rem"></div>
    <div class="flex align-items-center justify-content-center w-10rem h-3rem font-bold text-gray-900 border-round m-2 text-xl text-white md:w-15rem md:text-4xl">
      <i class="pi pi-question-circle text-2xl m-2 md:text-5xl"></i>
      Wordle-ish
    </div>
    <div class="flex align-items-center justify-content-center w-4rem h-3rem font-bold text-gray-900 border-round m-2 md:w-8rem">
      <button pButton type="button" class="flex md:hidden p-button-sm p-button-outlined border-white text-white w-3rem" (click)="refresh()" icon="pi pi-refresh"></button>
      <button pButton type="button" class="hidden md:flex p-button-sm p-button-outlined border-white text-white w-9rem" (click)="refresh()" icon="pi pi-refresh" label="Refresh"></button>
    </div>
</div>
<!-- <div class="container-fluid" style="padding: 0px;"> -->
<div class="main-container-full-page-height" style="height:calc(100vh - 64px); background-color: #F7F7F7;">
  <!-- <div class="flex flex-row justify-content-center">
    <div class="flex align-items-center justify-content-center w-1 h-2 bg-primary border-round p-3">
      A
    </div>
  </div> -->
  <div class="py-6" style="height: calc(100vh - 272px)">
    <div id="board" style="height: 100%">
      <div *ngFor="let attempt of attempts; index as a" class="flex justify-content-center col-10 col-offset-1 md:col-6 md:col-offset-3">
          <div *ngFor="let letter of attempt; index as l" 
          [ngStyle]="{color: letter.letter == '?' ? 'white' : 'black'}"
          [ngClass]="validityColor(letter.validity)"
          class="flex align-items-center justify-content-center w-3rem h-3rem md:w-4rem md:h-4rem ml-1 border-round border-3 border-gray-500 text-xl md:text-3xl font-bold">
            {{ letter.letter }}
        </div>
      </div>
    </div>
  </div>
  <div id="keyboard" class="absolute bottom-0 w-12 px-3 py-2 m-0 bg-gray-300">
    <div *ngFor="let row of keys; index as r" class="row">
      <div *ngIf="r == 1" class="spacer half px-0"></div>
      <button *ngFor="let key of row" 
      [ngClass]="getKeyClasses(key.letter == 'Enter' || key.letter == 'Backspace', key.validity)"
      (click)="onKeyUp(key.letter)">
        {{ key.letter == 'Backspace' ? '' : key.letter.toUpperCase() }}
        <svg *ngIf="key.letter == 'Backspace'" xmlns="http://www.w3.org/2000/svg" height="24"
          viewBox="0 0 24 24" width="24">
          <path fill="black"
            d="M22 3H7c-.69 0-1.23.35-1.59.88L0 12l5.41 8.11c.36.53.9.89 1.59.89h15c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H7.07L2.4 12l4.66-7H22v14zm-11.59-2L14 13.41 17.59 17 19 15.59 15.41 12 19 8.41 17.59 7 14 10.59 10.41 7 9 8.41 12.59 12 9 15.59z">
          </path>
        </svg>
      </button>
      <div *ngIf="r == 1" class="spacer half px-0 "></div>
    </div>
  </div>
  <p-dialog [header]="success ? 'Success!' : 'Womp womp!'" [visible]="showModal" [closable]="false" [styleClass]="'w-10 md:w-6'">
      {{ (success ? 'You successfully guessed the word \'' : 'Unfortunately, you weren\'t able to guess \'') + selectedWord.toLowerCase() +'\'' }}
    <ng-template pTemplate="footer">
      <button pButton type="button" class="p-button p-button-secondary" label="Next Word" icon="pi pi-check" (click)="refresh()"></button>
    </ng-template>
  </p-dialog>
</div>