<div>
  <div>
    <input type="text" maxlength="5" minlength="5" [(ngModel)]="attempt"/>
    <button type="button" (click)="testWord(attempt)" [disabled]="success || attempt.length != 5">Check Word</button>

  </div>
  <br/>
  <div class="correction">
    <span class="correctionSpan" *ngFor="let letter of correction[0]" [ngStyle]="{'background-color': validityColor(letter.validity) }">{{ letter.letter }}</span>
    </div>
  <div class="correction">
    <span class="correctionSpan" *ngFor="let letter of correction[1]" [ngStyle]="{'background-color': validityColor(letter.validity) }">{{ letter.letter }}</span>
  </div>
  <div class="correction">
    <span class="correctionSpan" *ngFor="let letter of correction[2]" [ngStyle]="{'background-color': validityColor(letter.validity) }">{{ letter.letter }}</span>
  </div>
  <div class="correction">
    <span class="correctionSpan" *ngFor="let letter of correction[3]" [ngStyle]="{'background-color': validityColor(letter.validity) }">{{ letter.letter }}</span>
  </div>
  <div class="correction">
    <span class="correctionSpan" *ngFor="let letter of correction[4]" [ngStyle]="{'background-color': validityColor(letter.validity) }">{{ letter.letter }}</span>
  </div>
  <div class="correction">
    <span class="correctionSpan" *ngFor="let letter of correction[5]" [ngStyle]="{'background-color': validityColor(letter.validity) }">{{ letter.letter }}</span>
  </div>
  <br/>
  <div *ngIf="success">
    Success! Word is "{{selectedWord}}".
  </div>
</div>