div input {
    display: inline-block;
    margin: 10px 3px;
    width: 10rem;
}

.correctionSpan {
    padding: 5px;
    border-radius: 5px;
    border: black 1px solid;
}

div.correction {
    margin: 15px 0px;
}